/*CSS for hompage*/
body{
    background-color:#DCDCDC;
}
#product {
	display:none;
}


/*process bar*/
#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

.asdfghjkl {
    color:blue;
}

#detail{
    padding-left: 15;
   background-color:white;
}
/*main menu*/
.jumbotron {
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color:#DC143C;
    }
.jumbotron .h1, .jumbotron h1 {
    color: #F8F8FF;
}


/*search box*/
.input-group[class*=col-]{
    padding-top:5px;
    padding-left: 0px;
    padding-right: 0px;
}

/*dropdown filter + category*/
.filter-category{
    padding-right: 0px;
    padding-left: 0px;
}
.dropdown-menu{
    width: 100%;
}

/*list product*/
.image{
    padding:0;
}

img{
    width:100%;
    height:200px;
   
}
.ls{
    margin-top: 10px;
    background-color: white;
}
/**style font**/
.detail .price{
    color:blue;
}

.properties-label {
    float:left;
    font-weight: bold;
    padding-right: 1%;
}

.properties-label-des {
    font-weight: bold;
}

/*loadmore button*/
.loadmore{
    width: 100%;
    margin-top: 10px;
}

/*commentbox homepage*/
.well{
    margin-bottom: 0;
    padding:0;
}
.commentbox {
    background-color: #f5f5f5;
}


/*commentbox in detail*/
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}


.thumbnail>img, .thumbnail a>img {
    height: relative;
    width: relative;
}
/*ipad screen design*/ 
@media screen and (min-width: 768px) {
    .container-fluild{
        width: 768px;
        margin: 0 auto;
    }
    
    img{
    width:100%;
    height:350px;
   
    }

    .input-group[class*=col-]{
    padding-top:5px;
    padding-left: 15px;
    padding-right: 15px;
    }
    
}

.glyphicon-heart{color:#DC143C;}
    
    

   
    
    