/*CSS for hompage*/
body{
    background-color:#DCDCDC;
}


/*main menu*/
.jumbotron {
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color:#DC143C;
    }
.jumbotron .h1, .jumbotron h1 {
    color: #F8F8FF;
}


/*search box*/
.input-group[class*=col-]{
    padding-top:5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*dropdown filter + category*/
.filter-category{
    padding-right: 0px;
    padding-left: 0px;
}
.dropdown-menu{
    width: 100%;
}

/*list product*/
.image{
    padding:0;
}

img{
    width:100%;
    height:200px;
   
}
.ls{
    margin-top: 10px;
    background-color: white;
}
/**style font**/
.detail .price{
    color:blue;
}

.properties-label {
    float:left;
    font-weight: bold;
    padding-right: 1%;
}

.properties-label-des {
    font-weight: bold;
}

/*loadmore button*/
.loadmore{
    width: 100%;
    margin-top: 10px;
}

/*commentbox homepage*/
.well{
    margin-bottom: 0;
}
/*ipad screen design*/ 
@media screen and (min-width: 768px) {
    .container-fluild{
        width: 768px;
        margin: 0 auto;
    }
    
    img{
    width:100%;
    height:350px;
   
    }

    .input-group[class*=col-]{
    padding-top:5px;
    padding-left: 15px;
    padding-right: 15px;
    }
    
}
    
    

   
    
    